.cigar-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101311a0;
  border-radius: 15px;
  margin: 20px;
  width: 90vw;
}

.cigars-list {
  text-align: center;
  margin-bottom: 40px;
  line-height: 40px;
}

.cigar-list-container h2 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 5px;
  font-size: 35px;
  color: whitesmoke;
  margin: 10px auto;
  animation: neon 3s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 2px #f05e1b, 0 0 10px #f05e1b, 0 0 20px #f05e1b,
      0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
  }
  to {
    text-shadow: 0 0 12px #f66420, 0 0 25px #f05e1b, 0 0 35px #f05e1b,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
}

.cigar-link:link {
  text-decoration: none;
  color: whitesmoke;
}

.cigar-link:visited {
  color: whitesmoke;
}

.cigar-link:active {
  color: whitesmoke;
}

.cigar-link:hover {
  /* font-family: "Dancing Script", cursive; */
  font-size: 20px;
  text-shadow: 0 0 2px #f05e1b, 0 0 10px #f05e1b, 0 0 20px #f05e1b,
    0 0 30px #e60073, 0 0 40px #e60073;
}

.cigar-link {
  margin-bottom: 50px;
  list-style: none;
}

.top-three-list {
  padding: 0;
}
