.review-container {
  background-color: #101311a0;
  box-shadow: 2px 2px #1b1b1b;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  width: 90vw;
}

.review-container h2 {
  padding: 10px;
}

.form-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: repeat(12, 30px);
  grid-gap: 10px;
  justify-content: center;
  text-align: left;
}

#author-label {
  grid-column-start: 1;
}

#author-input {
  grid-column-start: 1;
  grid-row-start: 2;
}

#cigar-label {
  grid-column-start: 2;
}

#cigar-input {
  grid-column-start: 2;
  grid-row-start: 2;
}

#rating-label {
  grid-column-start: 3;
}

#rating-input {
  grid-column-start: 3;
  grid-row-start: 2;
}

#wrapper-label {
  grid-column-start: 1;
  grid-row-start: 3;
}

#wrapper-input {
  grid-column-start: 1;
  grid-row-start: 4;
}

#binder-label {
  grid-column-start: 2;
  grid-row-start: 3;
}

#binder-input {
  grid-column-start: 2;
  grid-row-start: 4;
}

#filler-label {
  grid-column-start: 3;
  grid-row-start: 3;
}

#filler-input {
  grid-column-start: 3;
  grid-row-start: 4;
}

#tastingNotes-label {
  grid-column: 1 / span 3;
  grid-row-start: 5;
}

#tastingNotes-input {
  grid-column: 1 / span 3;
  grid-row: 6 / span 2;
}

#review-label {
  grid-column-start: 1;
  grid-row-start: 8;
}

#review-input {
  grid-column: 1 / span 3;
  grid-row: 9 / span 2;
}

#button {
  grid-row-start: 12;
  grid-column: 2 / span 1;
  height: 35px;
}

.review-container input,
textarea {
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  background-color: #10131156;
  border: 1px solid whitesmoke;
  text-shadow: 0 0 2px #f05e1b, 0 0 10px #f05e1b, 0 0 20px #f05e1b,
    0 0 30px #e60073, 0 0 40px #e60073;
}

@media (max-width: 500px) {
  #button {
    padding: 0px;
    grid-column: 1 / span 3;
  }
}
