.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #95b8a9bc;
  border-radius: 15px;
  margin: 40px;
  width: 600px;
}

.image-container {
  /* background-color: black; */
  width: 300px;
  height: 300px;
  margin: 20px;
}

#image {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
  border-radius: 15px;
}

.cigar-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 500px;
  margin: 40px 10px 40px 10px;
}

.rating,
.wrapper,
.binder,
.filler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
}

.tasting-notes,
.review {
  text-align: left;
}

#rating,
#wrapper,
#binder,
#filler {
  padding-left: 5px;
  margin: 5px 0px 5px 0px;
}

h4 {
  margin: 5px 0px 5px 0px;
}
