.cigar-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cigars-list {
  text-align: left;
}

#cigar-link:link {
  text-decoration: none;
  color: black;
}

#cigar-link:visited {
  color: black;
}

#cigar-link:active {
  color: #e87931;
}
