/* .top-three-list {
  list-style-image: url("https://user-images.githubusercontent.com/74211758/101369463-f81a5c80-386d-11eb-8523-5fc2afd269f9.png");
  list-style-position: inside;
} */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10131185;
  border-radius: 15px;
  margin: 20px;
  width: 600px;
  color: #fcb334;
}

.button-container {
  margin-bottom: 40px;
  text-align: center;
}

.quote-container {
  width: 50vw;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

.top-three-container {
  width: 50vw;
  text-align: center;
}
