.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10131185;
  box-shadow: 2px 2px #1b1b1b;
  border-radius: 15px;
  margin: 20px;
  padding: 20px 0px 20px 0px;
  width: 90vw;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin: 5px;
}

.quote-container {
  width: 75vw;
  height: auto;
  text-align: center;
  margin-top: 20px;
}

.top-three-container {
  width: 50vw;
  text-align: center;
  line-height: 35px;
}
