.nav-container {
  background-color: #101311a0;
  box-shadow: 2px 2px #1b1b1b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  width: 90vw;
  height: 80px;
  margin: 20px;
}

#header-link {
  padding: 0px 0px 15px 50px;
  font-size: 50px;
  color: #eead0e;
  font-family: "Abril Fatface", cursive;
  text-decoration: none;
}

.nav-search {
  margin-right: 20px;
}

@media (max-width: 550px) {
  .nav-container {
    flex-direction: column;
    height: 100px;
  }
  #header-link {
    font-size: 35px;
    padding: 0px 0px 15px 0px;
  }
}
