/* -------------------------
NAV STYLING
------------------------- */

.nav-container {
  background-color: #5e4a34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-left: 100px;
}

#header-link:link {
  text-decoration: none;
  color: black;
}

#header-link:visited {
  color: black;
}

#header-link:active {
  color: #e87931;
}
