.search-bar {
  text-align: right;
  position: relative;
}

.search-bar input {
  margin: 20px auto 0px;
}

.search-bar div {
  position: absolute;
  top: 40px;
  padding: 0 2.5px;
  right: 20px;
  background: white;
  border: 1px solid black;
  text-align: left;
}
