.search-bar {
  text-align: right;
  position: relative;
}

.search-bar input {
  font-family: "Oswald", sans-serif;
  margin: 0px 15px 0px 0px;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  background-color: #10131156;
  border: 1px solid whitesmoke;
  text-shadow: 0 0 2px #f05e1b, 0 0 10px #f05e1b, 0 0 20px #f05e1b,
    0 0 30px #e60073, 0 0 40px #e60073;
}

.search-bar div {
  position: absolute;
  top: 35px;
  right: 10px;
  left: 5px;
  text-align: left;
}

.search-result:link {
  text-decoration: none;
  color: whitesmoke;
}

.search-result:visited {
  color: whitesmoke;
}

/* .search-result:hover {
  text-shadow: 0 0 2px #f05e1b, 0 0 10px #f05e1b, 0 0 20px #f05e1b,
    0 0 30px #e60073, 0 0 40px #e60073;
} */
